<head>
</head>


<body>
    <header>
        <div class="header-text"></div>
        <div class="header-img"></div>
        <div class="header-list"></div>
    </header>
    <main>
        <div class="carousel"></div>
        <div class="container">
            <div class="container-left">
                <div class="serch">
                    <div class="border">
                        <p>商品検索</p>
                    </div>
                    <div class="serch-btn">
                        <input type="serch" name="serch" placeholder="キーワードを入力" >
                        <input type="submit" name="submit" value="検索" >
                    </div>
                </div>
                <div class="login">
                    <div class="border">
                        <p>ログイン</p>
                    </div>
                    <ul class="list-style">
                        <li><%=link_to("ログイン","/#",) %></li>
                        <li><%=link_to("会員登録","/#",) %></li>
                        <li><%=link_to("パスワード再発行","/#",) %></li>
                    </ul>                    
                </div>
                <div class="pr-banner"></div>
                <div class="category"></div>
                <div class="pickup-img"></div>
                <div class="special-feature"></div>
                <div class="support"></div>
            </div>
            <div class="container-right">
                <div class="info"></div>
                <div class="news"></div>
                <div class="pickup-clothes"></div>
                <div class="new-arrive"></div>
                <div class="hot-item"></div>
                <div class="ranking"></div>
                <div class="feature"></div>
                <div class="new-item"></div>
            </div>
        </div>
    </main>
    <div class="sub">
        <div class="sub-left"></div>
        <div class="sub-right"></div>
    </div>
    <footer>
    </footer>
</body>




