<head>
</head>


<body>
    <header>
        <div class="header-text"></div>
        <div class="header-menu"></div>
        <div class="header-list"></div>
    </header>
    <main>
        <div class="carousel"></div>
        <div class="container"></div>
    </main>
    <div class="sub">
    </div>
    <footer>
    </footer>
</body>



<h1>Home#top</h1>
<p>Find me in app/views/home/top.html.erb</p>
