<head>
</head>


<body>
    <header>
        <div class="header-text"></div>
        <div class="header-img"></div>
        <div class="header-list"></div>
    </header>
    <main>
        <div class="carousel"></div>
        <div class="container">
            <div class="container-left">
                <div class="serch"></div>
                <div class="login"></div>
                <div class="pr-banner"></div>
                <div class="category"></div>
                <div class="pickup-img"></div>
                <div class="special-feature"></div>
                <div class="support"></div>
            </div>
            <div class="container-right">
                <div class="info"></div>
                <div class="news"></div>
                <div class="pickup-clothes"></div>
                <div class="new-arrive"></div>
                <div class="hot-item"></div>
                <div class="ranking"></div>
                <div class="feature"></div>
                <div class="new-item"></div>
            </div>
        </div>
    </main>
    <div class="sub">
        <div class="sub-left"></div>
        <div class="sub-right"></div>
    </div>
    <footer>
    </footer>
</body>




