// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// layout調整
body {
    display: grid;
    grid-template: 
        "header" 280px
        "main"   1fr
        "sub"    850px
        "footer" 180px;
}

header {
    grid-area: header;
    display: grid;
    grid-template: 
        "header-text"   auto
        "header-img"    170px
        "header-list"   60px;
}

.header-text {
    grid-area: header-text;
}

.header-img {
    grid-area: header-img;
}

.header-list {
    grid-area: header-list;
}

main {
    grid-area: main;
    display: grid;
    grid-template: 
        "carousel"  580px
        "container" 1500px;
}

.carousel {
    grid-area: carousel;
}

.container {
    grid-area: container;
    display: grid;
    grid-template: 
        "container-left container-right" 1fr
        / 1fr 4fr;
}

.container-left {
    grid-area: container-left;
    display: grid;
}

.container-right {
    grid-area: container-right;
    display: grid;
}


.sub {
    grid-area: sub;
    display: grid;
    grid-template: 
        "sub-left sub-right" 
        / 1fr 4fr;
}

footer {
    grid-area: footer;
}


// 全体の装飾

.list-style {
    list-style: none;
    border-bottom: none;
}

// headerの装飾



// mainの装飾




// container-left
.serch {
    justify-content: center;
}

.serch p {
    text-align: center;
}

.serch-btn {
    background-color: #F5F5F5;
}

.login ul {
    padding: 0;
}


// container-right





// subの装飾




// footerの装飾


